/* Estilos base para todos los tamaños de pantalla */
.containera {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.caru {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 47px;
  border-radius: 30px;
}

.mage .img-carousel {
  display: flex;
  height: 50vh;
  border-radius: 30px;
}

.content-container {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.cardmueble {
  background-color: #ffffff;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.568);
  padding: 5px;
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
}

.cardmueble .titulo {
  font-size: 40px;
}

.conp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.cuco {
  background-color: rgba(128, 128, 128, 0.329);
  margin-right: 50px;
  border-radius: 30px;
  width: 25%;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.finan {
  background-color: rgba(128, 128, 128, 0.329);
  margin: 10px;
  border-radius: 30px;
  width: 28%;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.conp .cuco {
  text-align: left;
}

.cuco .salvador {
  margin-left: 50px;
  height: 21px;
}

.conp .finan {
  text-align: left;
}

.finan .salvador {
  margin-left: 50px;
  height: 21px;
}

.centro .precioreal {
  display: flex;
  margin-top: 1px;
  font-size: 30px;
  font-weight: bold;
}

.precio-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.derecha {
  background-color: rgb(251, 251, 251);
  flex: 1;
  border-radius: 25px;
}

.izquierda {
  background-color: rgb(251, 251, 251);
  flex: 1;
  border-radius: 25px;
}

.precio {
  margin: 0;
  flex-basis: 50%;
  text-align: center;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.datosmostrar {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.568);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.enlace {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.enlace li {
  text-decoration: none;
  margin-right: 5px;
  color: #000000;
}

.token {
  width: 20px;
  height: 20px;
}

.informacion {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 58vh;
  display: flex;
  flex-direction: column; /* Cambia la disposición a columna para pantallas pequeñas */
  align-items: center; /* Centra verticalmente los elementos */
}

.informacion button {
  background-color: rgb(31, 113, 236);
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 70px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px; /* Ajusta el margen superior */
}

.informacion p {
  margin-top: 10px;
  font-size: 18px;
}

/* Media query para tamaños de pantalla menores o iguales a 400px */
@media (max-width: 400px) {
  .containera {
    padding: 10px; /* Ajusta el espacio interior para pantallas pequeñas */
  }

  .caru {
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .content-container {
    flex-direction: column; /* Cambia la disposición a columna para pantallas pequeñas */
    align-items: center; /* Centra horizontalmente para pantallas pequeñas */
  }

  .cardmueble {
    width: 80%; /* Reduce el ancho de la tarjeta para pantallas pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo para pantallas pequeñas */
    margin-top: 10px; /* Ajusta el margen superior */
  }

  .cuco,
  .finan {
    width: 100%; /* Ancho completo para pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho para pantallas pequeñas */
    text-align: center; /* Centra el texto para pantallas pequeñas */
  }

  .informacion {
    height: auto; /* Altura automática para pantallas pequeñas */
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .informacion button {
    margin-top: 20px; /* Ajusta el margen superior para el botón */
    margin-left: auto;
    margin-right: auto; /* Centra el botón horizontalmente */
  }
}
